<h2>Create Stock Form</h2>

<div class="form-group">
  <!-- 連結 formGroup，而非 formControl -->
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <div class="stock-name">
      <!-- 使用表單控制項連結，而非 ngModel -->
      <!-- 使用 formGroup 後，在此群組中使用 formControlName -->
      <input type="text"
             placeholder="Stock Name"
             formControlName="name">
    </div>
    <div class="stock-code">
      <input type="text"
             placeholder="Stock Code"
             formControlName="code">
    </div>
    <div class="stock-price">
      <input type="number"
             placeholder="Stock Price"
             formControlName="price">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<!-- 輸出表單群組而非元素值 -->
<h4>Form Control value: {{stockForm.value | json}}</h4>
<h4>Form Control status: {{stockForm.status | json}}</h4>
