<div class="product-item" [class.sale]="product.isOnSale">
  <div class="image"><img [src]="product.imageUrl" [alt]="product.name"></div>
  <div class="details">
    <div class="name">{{product.name}}</div>
    <div class="price">NT$ {{product.price}}</div>
    <div>
      <button class="decrement" *ngIf="product.quantityInCart > 0" (click)="decrementInCart()">-</button>
      <span class="quantity">{{product.quantityInCart}}</span>
      <button class="increment" (click)="incrementInCart()">+
      </button>
    </div>
    <a class="more" routerLink="/product/{{product.id}}">>> More</a>
  </div>
</div>
