<div class="app-container">
  <h1>
    <!-- 資料連結的標題 -->
    Welcome to {{title}}!
  </h1>

  <h3>App Level: {{messageService.message}}</h3>

  <div class="links">
    <span>
      <a routerLink="/user/login" routerLinkActive="active">
        Login
      </a>
    </span>
    <span>
      <a routerLink="/user/register" routerLinkActive="active">
        Register
      </a>
    </span>
    <span>
      <a routerLink="/stock/list" routerLinkActive="active">
        Stock List
      </a>
    </span>
    <span>
      <a routerLink="/stock/create" routerLinkActive="active">
        Stock Create
      </a>
    </span>
  </div>

  <router-outlet></router-outlet>
</div>
